html {
    background-color: black;
    color: white;
    font-family: 'Marvel', sans-serif;
}



#navbar {
    text-align: center;
    padding: 5px;
    margin: 0 auto;

}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

#header-content img {
    margin: 0 auto;
    display: flex;
    padding: 5px;
    width: 672px;
    height: 378px;
    max-width: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

#footer img {
    height: 40px;
    width: 40px;
}
