html {
    background-color: black;
    color: white;
    font-family: 'Marvel', sans-serif;
    margin: 5px;
}


#navbar,
#footer {
    text-align: center;
    padding: 5px;
    margin: 0 auto;

}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

#header-content img {
    margin: 0 auto;
    display: flex;
    padding: 5px;
    width: 672px;
    height: 378px;
    max-width: 100%;
    border: 5px solid white;
    border-radius: 5px;
}

#footer img {
    height: 40px;
    width: 40px;
}

#spells-list,
#backgrounds-list,
#cantrips-list, 
#classes-list,
#races-list,
#heroes-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

#spells-list img,
#backgrounds-list img,
#cantrips-list img,
#classes-list img,
#races-list img {
    width: 50px;
    height: 50px;
}



#hero-editor,
#hero-results {
    margin: 0 auto;
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
}